/**
 * This is a simple UI which will enlarge the shadow when hovering on the box
 *
 * <div class="box">
 *   <div class="background-shadow></div>
 * </div>
 */

 /**
  * Feedback:
  * We can get the same result without background-shadow and make code less
 */

.box {
  display: block;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-out;
}

.box:hover {
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}